
__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/


.idea/
.vscode/

dataset_dir/
data/
datasets/
dataset/
output/
outputs/
*.pth
*.pt
*.ckpt
*.db
*.sqlite
*.sqlite3
optuna_*.db
*.log
*.tmp
*.temp
.ipynb_checkpoints/
